<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laidback.mapper.ComAbbyyMapper">

    <select id="count" parameterType="map" resultType="int">
        SELECT
          COUNT(*)
          FROM com_abbyy aby
            LEFT OUTER JOIN company com ON aby.com_seq = com.seq
         WHERE 1 = 1
           AND aby.delete_datetime is null
        <if test="comSeq != null">
            AND aby.com_seq = #{comSeq}
        </if>
        <if test="startDate != null">
            AND to_char(aby.create_datetime,'YYYY-MM-DD') <![CDATA[ >= ]]> #{startDate}
        </if>
        <if test="endDate != null">
            AND to_char(aby.create_datetime,'YYYY-MM-DD') <![CDATA[ <= ]]> #{endDate}
        </if>
        <if test="searchWord != null and searchWord != ''">
            <choose>
                <when test="searchType == 'comName' ">
                    AND com.com_name LIKE CONCAT('%',#{searchWord}, '%')
                </when>
                <otherwise>
                    AND ( com.com_name LIKE CONCAT('%',#{searchWord}, '%') )
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="find" parameterType="map" resultType="com.laidback.model.ComAbbyy">
        SELECT
            aby.*
          , com.com_name AS comName
          FROM com_abbyy aby
            LEFT OUTER JOIN company com ON aby.com_seq = com.seq
         WHERE 1 = 1
           AND aby.delete_datetime is null
        <if test="comSeq != null">
            AND aby.com_seq = #{comSeq}
        </if>
        <if test="startDate != null">
            AND to_char(aby.create_datetime,'YYYY-MM-DD') <![CDATA[ >= ]]> #{startDate}
        </if>
        <if test="endDate != null">
            AND to_char(aby.create_datetime,'YYYY-MM-DD') <![CDATA[ <= ]]> #{endDate}
        </if>
        <if test="searchWord != null and searchWord != ''">
            <choose>
                <when test="searchType == 'comName' ">
                    AND com.com_name LIKE CONCAT('%',#{searchWord}, '%')
                </when>
                <otherwise>
                    AND ( com.com_name LIKE CONCAT('%',#{searchWord}, '%') )
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="order == 0">
                ORDER BY ${sort} ASC
            </when>
            <when test="order == 1">
                ORDER BY ${sort} DESC
            </when>
        </choose>
        <if test="offset != null and count != null">
            LIMIT ${count} OFFSET ${offset}
        </if>
    </select>

    <select id="findByAbbyyLicense" parameterType="int" resultType="com.laidback.model.ComAbbyy">
        SELECT
            aby.*
          , com.com_name AS comName
          FROM com_abbyy aby
            LEFT OUTER JOIN company com ON com.seq = aby.com_seq
         WHERE 1 = 1
           AND aby.seq = #{seq}
    </select>

    <select id="getExeclDownList" parameterType="map" resultType="com.laidback.model.ComAbbyy">
        SELECT
            aby.*
          , com.com_name AS comName
          FROM com_abbyy aby
            LEFT OUTER JOIN company com ON aby.com_seq = com.seq
         WHERE 1 = 1
        <if test="abbyyList != null">
            AND aby.seq IN
            <foreach item="seq" collection="abbyyList" separator="," open="(" close=")">
                #{seq}
            </foreach>
        </if>
        ORDER BY aby.create_datetime DESC
    </select>
</mapper>