/*!
A.Works Repository / Posco ict & Laidback (David)
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');

html, body {
    font-size:14px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
}
a:hover {
    text-decoration:none;
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}
.wrapper {
    max-width: none !important;
    min-width:1170px;
}
.container {
    max-width: none !important;
    width:1170px;
}

.font8 {font-size:8px;}
.font10 {font-size:10px;}
.font11 {font-size:11px;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.font20 {font-size:20px;}
.font22 {font-size:22px;}
.font24 {font-size:24px;}
.font26 {font-size:26px;}
.font28 {font-size:28px;}
.font30 {font-size:30px;}
.font32 {font-size:32px;}
.font34 {font-size:34px;}
.font36 {font-size:36px;}

.font1rem {font-size:1rem;}
.font2rem {font-size:2rem;}
.font3rem {font-size:3rem;}
.font4rem {font-size:4rem;}
.font6rem {font-size:6rem;}
.font8rem {font-size:8rem;}
.font10rem {font-size:10rem;}
.font12rem {font-size:12rem;}
.font14rem {font-size:14rem;}
.font18rem {font-size:18rem;}
.font20rem {font-size:20rem;}
.font22rem {font-size:22rem;}
.font24rem {font-size:24rem;}

.main-color {color:#00a3ad;}

.font-w100 {font-weight:100;}
.font-w200 {font-weight:200;}
.font-w300 {font-weight:300;}
.font-w400 {font-weight:400;}
.font-w500 {font-weight:500;}
.font-w600 {font-weight:600;}
.font-w700 {font-weight:700;}
.font-w800 {font-weight:800;}
.font-w900 {font-weight:900;}

.minh-18 {min-height:18px;}
.minh-22 {min-height:22px;}
.minh-150 {min-height:150px;}
.minh-160 {min-height:160px;}
.minh-360 {min-height:360px;}
.minh-480 {min-height:480px;}
.minh-640 {min-height:640px;}
.detail-card-affix {
    padding-top:0px;
}
.affix {
    position: fixed;
    top:90px;
    width:290px;
}
.line-height100 {line-height:100%;}
.line-height120 {line-height:120%;}
.line-height140 {line-height:140%;}
.line-height160 {line-height:160%;}
.line-height180 {line-height:180%;}
.line-height200 {line-height:200%;}
.line-height220 {line-height:220%;}

.min-width160 {width:160px;}
.min-width200 {width:200px;}
.mt-2-5 {margin-top:0.8rem !important;}

.btn-sm-round {border-radius:14px;}
.btn-round {border-radius:17px;}
.btn-lg-round {border-radius:21px;}
.btn-border-none {border:0 !important;}
.btn-border-radius-none {border-radius:0;}
.border-radius-none {border-radius:0; !important;}
.input-small-plus {width:calc(100% + 100px);}

.no-content-box {
    width:80px;
    height:80px;
    color:#ffffff;
    background-color:#cccccc;
    border-radius:40px;
    display: block;
    text-align:center;
    line-height:105px;
}
.no-content-text {
    color:#777777;
}

.dropdown-user-info {
	padding:7px 15px 15px 15px;
	display: block;
	font-size:12px;
	color:#777777;
	border-bottom: solid 1px rgba(0, 0, 0, .05);
    min-width:200px;
}

.privacy-text {
    font-size:12px;
    color:#666666;
}
.privacy-text a {
    text-decoration:underline;
}

/*###################################################*/

.header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
    border-bottom:1px rgba(255,255,255,0.5) solid;
    z-index:100;
    background-color:rgba(255,255,255,0);
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
    transition: all ease-out .1s;
}
.header a.a-link {
    color:#ffffff;
}
.header a.a-link:hover {
    color:#eeeeee;
    text-decoration:none;
}
.header.active {
    background-color:rgba(255,255,255,1);
    border-bottom:1px #ffffff solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.header.active a.a-link {
    color:#00a3ad;
}
.header .menu-section a.a-link {
    border:1px solid rgba(0,0,0,0);
    border-radius:3px;
    padding:8px 15px;
    color:#ffffff;
}
.header .menu-section a.a-link:hover {
    border:1px solid #ffffff;
    border-radius:3px;
    padding:8px 15px;
    color:#ffffff;
}
.header.active .menu-section a.a-link {
    border:1px solid rgba(0,0,0,0);
    border-radius:3px;
    padding:8px 15px;
    color:#000000;
}
.header.active .menu-section a.a-link:hover {
    border:1px solid #00a3ad;
    border-radius:3px;
    padding:8px 15px;
    color:#000000;
}
.header .user-menu-section a.a-link {
    color:#ffffff;
}
.header.active .user-menu-section a.a-link {
    color:#000000;
}
.header.active .user-menu-section a.a-link:hover {
    color:#00a3ad;
}
.sub-header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
    border-bottom:1px rgba(255,255,255,0.5) solid;
    z-index:100;
    background-color:rgba(255,255,255,0);
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
    transition: all ease-out .1s;
}
.sub-header a.a-link {
    color:#08b2b2;
}
.sub-header a.a-link:hover {
    color:#666666;
    text-decoration:none;
}
.sub-header.active {
    background-color:rgba(255,255,255,1);
    border-bottom:1px #ffffff solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.sub-header.active a.a-link {
    color:#08b2b2;
}
.sub-header.active a.a-link:hover {
    color:#666666;
}
.sub-header .menu-section a.a-link {
    border:1px solid rgba(0,0,0,0);
    border-radius:3px;
    padding:8px 15px;
    color:#000000;
}
.sub-header .menu-section a.a-link:hover {
    border:1px solid #00a3ad;
    border-radius:3px;
    padding:8px 15px;
    color:#00a3ad;
}
.sub-header .menu-section a.a-link.active {
    border:1px solid #00a3ad;
    border-radius:3px;
    padding:8px 15px;
    color:#00a3ad;
}
.sub-header.active .menu-section a.a-link {
    border:1px solid rgba(0,0,0,0);
    border-radius:3px;
    padding:8px 15px;
    color:#000000;
}
.sub-header.active .menu-section a.a-link:hover {
    border:1px solid #00a3ad;
    border-radius:3px;
    padding:8px 15px;
    color:#00a3ad;
}
.sub-header.active .menu-section a.a-link.active {
    border:1px solid #00a3ad;
    border-radius:3px;
    padding:8px 15px;
    color:#00a3ad;
}
.sub-header .user-menu-section a.a-link {
    color:#000000;
}
.sub-header .user-menu-section a.a-link:hover {
    color:#00a3ad;
}
.sub-header.active .user-menu-section a.a-link {
    color:#000000;
}
.sub-header.active .user-menu-section a.a-link:hover {
    color:#00a3ad;
}
.menu-section .a-link {
    margin-left:1rem;
    margin-right:1rem;
}
.user-menu-section .side-line {
    margin-left:1rem;
    margin-right:1rem;
}
.user-img {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:32px;
    height:32px;
    padding:0 !important;
    margin-left:10px;
    border-radius:50%;
    /* box-shadow: 0 0 0.3rem rgba(0,0,0,.5)!important; */
}
.side-line {
    color:#dddddd;
}

/* dropdown style */
.dropdown-menu {
    top:7px !important;
}

.dropdown-menu > a {
    padding:7px 15px;
    /* border-bottom: solid 1px rgba(0, 0, 0, .1); */
    color:#000000;
}
.dropdown-menu > a:last-child {
    border-bottom:none;
}
.dropdown-menu > span {
    padding:7px 15px;
}

.animate-box {
    opacity: 0;
}

[class*="dropdown-menu-tip-"]::after {
    content: '';
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, .15);
    border-bottom: none;
    border-left: none;
}

/* North */
.dropdown-menu-tip-n::after {
    top: calc(-.25rem - 1px);
    left: calc(50% - .25rem);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Northeast */
.dropdown-menu-tip-ne::after {
    top: calc(-.25rem - 1px);
    right: 1rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Northwest */
.dropdown-menu-tip-nw::after {
    top: calc(-.25rem - 0px);
    left: 1rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* South */
.dropdown-menu-tip-s::after {
    left: calc(50% - .25rem);
    bottom: calc(-.25rem - 1px);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* Southeast */
.dropdown-menu-tip-se::after {
    right: 1rem;
    bottom: calc(-.25rem - 1px);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* Southwest */
.dropdown-menu-tip-sw::after {
    left: 1rem;
    bottom: calc(-.25rem - 1px);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}


/* navbar style */
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.navbar-nav > .open > a .caret:before {
    bottom: -23px;
}
.navbar-nav > .open > a .caret:after {
    bottom: -24px;
}

.modal-sm {
    max-width:400px;
}
.modal-md {
    max-width:580px;
}


/*###################################################*/

.main-hero {
    background-image:url(../images/bg01.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:540px;
    color:#ffffff;
}

.sub-hero {
    margin-top:60px;
    height:140px;
    background-image: linear-gradient(to right, #08b2b2, #00bca3, #2ec38a, #5fc96a, #8dcb44);
    color:#ffffff;
}
.sub-hero > h1 {
  font-weight:900;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.sub-hero > div {
  font-size:18px;
  font-weight:500;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.popularity-app {
    padding:7rem 0rem;
}

.recommended-item {
    background-color:#00a3ad;
    padding:7rem 0rem;
}
.recommended-item .carousel-item .card {
    border:0;
}
.recommended-item-card {
    border:7px solid #ffffff;
    padding:7rem 3rem;
    color:#ffffff;
    height:calc(100% - 40px);
    margin:20px 0;
}

.new-update-app {
    background-color:#f7f7f7;
    padding:7rem 0rem;
}

.contract-area {
    background-image:url(../images/bg02.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:140px;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15px; 
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-prev {
    left:-10px;
}
.carousel-control-next {
    right:-10px;
}
.carousel-inner {
    width:845px;
    margin:0 auto;
}
.carousel-inner .carousel-item .col-4 {
    width:260px;
    margin-left:10px;
    margin-right:10px;
    display: inline-block !important;
    padding:0;
}
.carousel-inner {
    padding:20px 0;
}

.more-btn a {
    color:#666666;
    text-decoration:underline;
}
.more-btn a:hover {
    color:#000000;
    text-decoration:underline;
}

/*###################################################*/

.place-wrap {
    padding:30px 0;
    background-color:#f7f7f7;
}
.sub-top-area span {
    color:#fe7a3f;
    font-weight:bold;
    margin-right:3px;
}
.solt-select {
    width:130px;
    display:inline-block;
}
.form-group-title {
    margin:25px 0 15px;
    border-bottom:1px solid #dddddd;
}
.form-group-title a {
    color:#aaaaaa;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "파일찾기";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

/*###################################################*/

a.card {
    color:#000000;
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
    transition: all ease-out .1s;
}
a.card:hover {
    color:#000000;
    text-decoration:none;
    box-shadow:0rem 0 2rem rgba(0,0,0,.2)!important;
}
.card {
    position:relative;
}
.card .certification {
    position: absolute;
    top:10px;
    left:10px;
}
.card .certification i {
    color:#00a3ad;
}
.card .rankmark {
    position: absolute;
    top:-10px;
    right:10px;
    width:40px;
    height:30px;
    background-color:#ffa100;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -ms-border-radius:0 !important;
}
.card .rankmark span {
    font-size:11px;
    font-weight:bold;
    color:#ffffff;
    margin-top:7px;
}
.card .rankmark:after {
    position: absolute;
    right:0;
    bottom:-20px;
    width: 0px;
    height: 0px;
    border-top:20px solid #ffa100;
    border-bottom:20px solid none;
    border-right: 20px solid transparent;
    border-left: 20px solid  transparent;
    content: " ";
}
.card .newmark {
    position: absolute;
    top:-10px;
    right:10px;
    width:40px;
    height:30px;
    background-color:#8e5df4;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -ms-border-radius:0 !important;
}
.card .newmark span {
    font-size:11px;
    font-weight:bold;
    color:#ffffff;
    margin-top:7px;
}
.card .newmark:after {
    position: absolute;
    right:0;
    bottom:-20px;
    width: 0px;
    height: 0px;
    border-top:20px solid #8e5df4;
    border-bottom:20px solid none;
    border-right: 20px solid transparent;
    border-left: 20px solid  transparent;
    content: " ";
}

.card .category-img {
    min-height:150px;
    margin-top:10px;
}
.card .category-img img {
    width:60px;
}

.card .card-body .line-content {
    display: -webkit-box; 
    display: box; 
    margin-top:1px; 
    max-height:80px; 
    min-height:60px; 
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:3;
    color:#666666;
    width:224px;
    text-align: center;
}
.card .card-body .line-content2 {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: box; 
    margin-top:1px; 
    max-height:46px;
    min-height:46px;
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:2;
    margin-bottom:6px;
    color:#666666;
}
.card .card-body .line-content3 {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: box; 
    margin-top:1px; 
    max-height:22px;
    min-height:22px;
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all;
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1;
    color:#666666;
}
.card .card-body .date-content {
    font-size:12px;
    margin:0;
    padding:0;
    color:#aaaaaa;
}

.card .card-point {
    color:#cccccc;
    font-size:12px;
}
.card .card-point .active {
    color:#ffc600;
}
.card .card-point .text-right span {
    margin-left:5px;
    color:#aaaaaa;
}
.card .card-point i {
    letter-spacing:-1px;
}
.card .card-body .column-left-area:before {
    content:'';
    position: absolute;
    display: block;
    top:10px;
    left:-3px;
    height:140px;
    border-right:1px solid #dddddd;
}

.card .card-body .notice-date h3 {
    color:#00a3ad;
    margin:0;
    padding:0;
}
.card .card-body .notice-date p {
    color:#aaaaaa;
    font-size:11px;
    margin:0;
    padding:0;
}
.card .card-body .column-left-area2:before {
    content:'';
    position: absolute;
    display: block;
    top:10px;
    left:-3px;
    height:50px;
    border-right:1px solid #dddddd;
}
.card .card-body .column-left-area2 .line-content {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: box; 
    margin:0px;
    padding:2px 0 10px; 
    max-height:28px; 
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1;
    color:#666666;
}
.card .card-body .column-left-area2 .line-content {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: box; 
    margin:0px;
    padding:2px 0 10px; 
    max-height:28px; 
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1;
    color:#666666;
}
.notice-body {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius:0;
    padding:25px 25px 60px 25px;
    line-height:180%;
}
.b-afore-notice-wrap .b-afore-notice {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius:0;
    padding:10px 25px 10px 25px;
}

.b-afore-notice-wrap .b-afore-notice:last-child {
    margin-top:-1px;
}


.place-wrap .card .card-body .line-content {
    display: -webkit-box; 
    display: box; 
    margin-top:1px; 
    max-height:80px; 
    min-height:60px; 
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:3;
    color:#666666;
    width:100%;
    text-align: center;
}

/*###################################################*/

.h5-no-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top:1px;
    max-height:22px;
    min-height:22px;
    overflow:hidden;
    vertical-align:top;
    text-overflow: ellipsis;
    word-break:break-all;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    font-size:16px;
}

.detail-card {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:25px;
}
.detail-card .right-menu-title {
    color:rgba(150,150,150,1);
}
.detail-card .right-menu-content {
    color:rgba(0,0,0,1);
}
.detail-card-title {
    padding:1rem 2rem 1rem 0;
    margin-top:2rem;
    font-weight:bold;
    font-size:18px;
}

.nav-link {
    padding:15px 50px;
}
a.nav-link {
    color:#333333;
}
.tab-content-wrap {
    border-left:1px #dee2e6 solid;
    border-right:1px #dee2e6 solid;
    border-bottom:1px #dee2e6 solid;
    background-color:#ffffff;
    padding:25px;
}

.view-person {
    color:#666666;
}
.star-rating-view {
    color:#666666;
}
.star-rating-view .active {
    color:#ffc600;
}
.span-active-color {
    color:#ffc600;
}
.span-gray-color {
    color:#cccccc;
}
.span-thumup-color {
    color:#17a2b8;
}

/*###################################################*/

.review-hr-border {
    border-top:#dddddd 1px solid;
    margin-top:1.5rem;
    padding-top:1.5rem;
}
.review-hr-border-re {
    margin-left:70px;
}

.review-hr-border p {
    margin:0;
    padding:0;
}
.review-hr-border-re p {
    margin:0;
    padding:0;
}
.profile-modify-img {
    position:relative;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:140px;
    height:140px;
    margin:auto;
    border:1px solid #dddddd;
}

.user-profile-img {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    width:60px;
    height:60px;
    border-radius:50%;
}
.download-scr-img {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:calc(100% + 2.5rem);
    margin:-1.25rem 0 -1.25rem -1.25rem;
}
.contact-label {
    width:50px;
    height:50px;
    background-color:#cccccc;
    color:#ffffff;
    border-radius:50%;
    line-height:50px;
    text-align:center;
}
.contact-label-active {
    width:50px;
    height:50px;
    background-color:rgba(132,189,0,1);
    color:#ffffff;
    border-radius:50%;
    line-height:50px;
    text-align:center;
}
.contact-area > a {
    color:#000000;
    text-decoration:none;
    padding:1.25rem;
    display:block;
    background-color:#ffffff;
    border-top:1px solid rgba(0,0,0,.125);
}
.contact-area .contact-area-in:first-child {
    border-top:none !important;
}
.contact-area {
    background-color:rgba(245,249,252,1);
}


.contact-area .contact-area-in.collapsed .icon-down-arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s;
}
.contact-area .contact-area-in .icon-down-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s;
}

.collapse-re-wrap {
    border-top:1px solid rgba(0,0,0,.125);
    padding:1.25rem 1.25rem 1.25rem 12rem;
}
.name-area {
    font-size:11px;
    color:#999999;
    margin-top:5px !important;
}
.name-area span:first-child {
    font-size:11px;
    color:#000000;
}
.qna-name-area {
    font-size:11px;
    color:#999999;
    margin-top:5px !important;
}
.qna-name-area span:first-child {
    font-size:16px;
    color:#000000;
}
.qna-name-area span:last-child {
    font-size:12px;
    color:#999999;
}

/*###################################################*/

.footer {
    min-width:1370px;
    height:180px;
    padding:20px 0 60px;
    background-color:#303131;
    color:#ffffff;
}
.footer a {
    color:#ffffff;
}
.footer span {
    color:#6f6f6f;
}
.footer .family-link-select {
    width:160px;
}
.footer .info-adress {
    font-size:11px;
    color:#7c7c7c;
}
.footer .sns-link a {
    display:inline-block;
    color:#666666;
    margin-left:5px;
}
.footer .sns-link a:hover {
    text-decoration:none;
    color:#999999;
}
.footer .copyright {
    font-size:11px;
    color:#5b5b5b;
}

/*###################################################*/

.chkbox-reset-btn {
    background-color: transparent !important;
    border-color: transparent;
    color: #aaaaaa;
}
.pointer {
    cursor:pointer;
}
.star-rating {
    width:100px;
    height:19px;
    background-image:url('/assets/images/star-rating-off.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.star-rating > span {
    height:19px;
    background-image:url('/assets/images/star-rating-on.png');
    background-size:100px;
    background-repeat:no-repeat;
    overflow: hidden;
    display:inline-block;
}

.table {
    border-bottom:5px solid #dddddd;
    color:#666666;
    background-color: #ffffff;
    /* -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1); */
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    -ms-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border-radius:0px;
    font-size:12px;
}
.table thead th {
    background-color:#4a5863;
    color:#ffffff;
    border-bottom:0px;
    padding:0.75rem;
}
.table tbody tr:hover {
    background-color:#f0f4f7;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.table tbody th, .table tbody td{
    padding:0.75rem;
}
.table thead th:first-child {
    padding-left:1.75rem;
}
.table tbody th:first-child, .table tbody td:first-child {
    padding-left:1.75rem;
}
.table thead th > button > i {
    color:#ffffff;
}

.pagination {
    margin-top:1rem;
}
.pagination li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width:28px;
    height:28px;
    font-size:14px;
    background-color:#ffffff;
    border-radius:0px;
    margin:3px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -ms-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
}
.pagination li.active a {
    background-color:#00A3AD;
    color:#ffffff;
}
.pagination li a:hover {
    text-decoration:none;
    background-color:#00A3AD;
    color:#ffffff;
}
.pagination a {
    color:#666666;
}

/* ---------------------------------------------------
    input textarea focus Style
----------------------------------------------------- */
textarea,
.custom-select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.btn {   
    border-radius:0 !important;
}
textarea:focus,
.custom-select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgba(0,163,173, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,163,173, 0.6);
    outline: 0 none;
    border-radius:0 !important;
}

/*###################################################*/

@font-face {
  font-family: 'repository-icon';
  src:  url('/assets/fonts/repository-icon.eot?hlxcej');
  src:  url('/assets/fonts/repository-icon.eot?hlxcej#iefix') format('embedded-opentype'),
    url('/assets/fonts/repository-icon.ttf?hlxcej') format('truetype'),
    url('/assets/fonts/repository-icon.woff?hlxcej') format('woff'),
    url('/assets/fonts/repository-icon.svg?hlxcej#repository-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'repository-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icn_RPA_01 .path1:before{color:rgb(102, 102, 102);content:"\eb43";}
.icon-icn_RPA_01 .path2:before{color:rgb(102, 102, 102);content:"\eb44";margin-left:-1em;}
.icon-icn_RPA_01 .path3:before{color:rgb(102, 102, 102);content:"\eb4c";margin-left:-1em;}
.icon-icn_RPA_01 .path4:before{color:rgb(102, 102, 102);content:"\eb4d";margin-left:-1em;}
.icon-icn_RPA_01 .path5:before{color:rgb(102, 102, 102);content:"\eb4e";margin-left:-1em;}
.icon-icn_RPA_01 .path6:before{color:rgb(9, 177, 178);content:"\eb4f";margin-left:-1em;}
.icon-icn_RPA_01 .path7:before{color:rgb(9, 177, 178);content:"\eb50";margin-left:-1em;}
.icon-icn_RPA_02 .path1:before{color:rgb(102, 102, 102);content:"\eb51";}
.icon-icn_RPA_02 .path2:before{color:rgb(9, 177, 178);content:"\eb52";margin-left:-1em;}
.icon-icn_RPA_02 .path3:before{color:rgb(9, 177, 178);content:"\eb53";margin-left:-1em;}
.icon-icn_RPA_02 .path4:before{color:rgb(102, 102, 102);content:"\eb54";margin-left:-1em;}
.icon-icn_RPA_03:before{content:"\eb55";}
.icon-icn_RPA_04:before{content:"\eb56";}
.icon-icn_RPA_05:before{content:"\eb57";}
.icon-icn_RPA_06:before{content:"\eb58";}
.icon-icn_RPA_07:before{content:"\eb59";}
.icon-icn_why_01:before{content:"\eb5a";}
.icon-icn_why_03:before{content:"\eb5b";}
.icon-icn_why_04:before{content:"\eb5c";}
.icon-icn_why_05:before{content:"\eb5d";}
.icon-icn_why_06:before{content:"\eb5e";}
.icon-body_eye:before{content:"\eb2a";}
.icon-brain-2:before{content:"\eb2b";}
.icon-eye-3:before{content:"\eb2c";}
.icon-brain:before{content:"\eb2d";}
.icon-eye1:before{content:"\eb2e";}
.icon-brain-1:before{content:"\eb2f";}
.icon-eye-1:before{content:"\eb30";}
.icon-eye-2:before{content:"\eb31";}
.icon-mind:before{content:"\eb32";}
.icon-circuit:before{content:"\eb33";}
.icon-black-cloud:before{content:"\eb34";}
.icon-body_brain:before{content:"\eb35";}
.icon-body_hand:before{content:"\eb36";}
.icon-effect_browser:before{content:"\eb37";}
.icon-effect_donation:before{content:"\eb38";}
.icon-effect_key:before{content:"\eb39";}
.icon-effect_profits:before{content:"\eb3a";}
.icon-effect_stopwatch:before{content:"\eb3b";}
.icon-feature01:before{content:"\eb3c";}
.icon-feature02:before{content:"\eb3d";}
.icon-feature03:before{content:"\eb3e";}
.icon-feature04:before{content:"\eb3f";}
.icon-flatscreen-tv:before{content:"\eb40";}
.icon-robot:before{content:"\eb41";}
.icon-robotNhuman:before{content:"\eb42";}
.icon-system:before{content:"\eb45";}
.icon-windows:before{content:"\eb46";}
.icon-work01:before{content:"\eb47";}
.icon-work02:before{content:"\eb48";}
.icon-work03:before{content:"\eb49";}
.icon-work04:before{content:"\eb4a";}
.icon-work05:before{content:"\eb4b";}
.icon-description:before{content:"\e909";}
.icon-calendar:before{content:"\e90a";}
.icon-cardsection:before{content:"\e90b";}
.icon-cloud:before{content:"\e90c";}
.icon-contract:before{content:"\e90d";}
.icon-cs:before{content:"\e90e";}
.icon-delete1:before{content:"\e90f";}
.icon-download1:before{content:"\e910";}
.icon-file:before{content:"\e911";}
.icon-info:before{content:"\e912";}
.icon-license:before{content:"\e913";}
.icon-local:before{content:"\e914";}
.icon-logo1:before{content:"\e915";}
.icon-logout:before{content:"\e916";}
.icon-member:before{content:"\e917";}
.icon-menu:before{content:"\e918";}
.icon-modify:before{content:"\e919";}
.icon-newpage:before{content:"\e91a";}
.icon-nodata:before{content:"\e91b";}
.icon-noimage_logo:before{content:"\e91c";}
.icon-noimage_user:before{content:"\e91d";}
.icon-partner:before{content:"\e91e";}
.icon-reply1:before{content:"\e91f";}
.icon-repository:before{content:"\e920";}
.icon-round-left-button:before{content:"\e921";}
.icon-search:before{content:"\e922";}
.icon-send:before{content:"\e923";}
.icon-setting:before{content:"\e924";}
.icon-sort-arrows-couple-pointing-up-and-down:before{content:"\e925";}
.icon-stats:before{content:"\e926";}
.icon-upload:before{content:"\e927";}
.icon-urlcopy:before{content:"\e928";}
.icon-user:before{content:"\e929";}
.icon-back-arrow-circular-symbol:before{content:"\e900";}
.icon-bug:before{content:"\e901";}
.icon-cancel:before{content:"\e902";}
.icon-caret-down:before{content:"\e903";}
.icon-delete:before{content:"\e904";}
.icon-download_log:before{content:"\e905";}
.icon-download:before{content:"\e906";}
.icon-error:before{content:"\e907";}
.icon-facebook-logo-button:before{content:"\e908";}
.icon-features_01 .path1:before{color:rgb(127, 181, 40);content:"\eaf4";}
.icon-features_01 .path2:before{color:rgb(211, 211, 211);content:"\eaf8";margin-left:-1em;}
.icon-features_01 .path3:before{color:rgb(211, 211, 211);content:"\eaf9";margin-left:-1em;}
.icon-features_01 .path4:before{color:rgb(127, 181, 40);content:"\eafa";margin-left:-1em;}
.icon-features_01 .path5:before{color:rgb(127, 181, 40);content:"\eafb";margin-left:-1em;}
.icon-features_01 .path6:before{color:rgb(25, 156, 164);content:"\eafc";margin-left:-1em;}
.icon-features_01 .path7:before{color:rgb(25, 156, 164);content:"\eafd";margin-left:-1em;}
.icon-features_01 .path8:before{color:rgb(25, 156, 164);content:"\eafe";margin-left:-1em;}
.icon-features_01 .path9:before{color:rgb(25, 156, 164);content:"\eaff";margin-left:-1em;}
.icon-features_01 .path10:before{color:rgb(25, 156, 164);content:"\eb00";margin-left:-1em;}
.icon-features_01 .path11:before{color:rgb(127, 181, 40);content:"\eb01";margin-left:-1em;}
.icon-features_01 .path12:before{color:rgb(127, 181, 40);content:"\eb02";margin-left:-1em;}
.icon-features_01 .path13:before{color:rgb(25, 156, 164);content:"\eb03";margin-left:-1em;}
.icon-features_01 .path14:before{color:rgb(211, 211, 211);content:"\eb04";margin-left:-1em;}
.icon-features_01 .path15:before{color:rgb(127, 181, 40);content:"\eb05";margin-left:-1em;}
.icon-features_01 .path16:before{color:rgb(25, 156, 164);content:"\eb06";margin-left:-1em;}
.icon-features_01 .path17:before{color:rgb(211, 211, 211);content:"\eb07";margin-left:-1em;}
.icon-features_02 .path1:before{color:rgb(25, 156, 164);content:"\eaf5";}
.icon-features_02 .path2:before{color:rgb(25, 156, 164);content:"\eb08";margin-left:-1em;}
.icon-features_02 .path3:before{color:rgb(127, 181, 40);content:"\eb09";margin-left:-1em;}
.icon-features_02 .path4:before{color:rgb(127, 181, 40);content:"\eb0a";margin-left:-1em;}
.icon-features_02 .path5:before{color:rgb(25, 156, 164);content:"\eb0b";margin-left:-1em;}
.icon-features_02 .path6:before{color:rgb(25, 156, 164);content:"\eb0c";margin-left:-1em;}
.icon-features_02 .path7:before{color:rgb(211, 211, 211);content:"\eb0d";margin-left:-1em;}
.icon-features_02 .path8:before{color:rgb(211, 211, 211);content:"\eb0e";margin-left:-1em;}
.icon-features_02 .path9:before{color:rgb(211, 211, 211);content:"\eb0f";margin-left:-1em;}
.icon-features_02 .path10:before{color:rgb(211, 211, 211);content:"\eb10";margin-left:-1em;}
.icon-features_02 .path11:before{color:rgb(211, 211, 211);content:"\eb11";margin-left:-1em;}
.icon-features_02 .path12:before{color:rgb(211, 211, 211);content:"\eb12";margin-left:-1em;}
.icon-features_02 .path13:before{color:rgb(211, 211, 211);content:"\eb13";margin-left:-1em;}
.icon-features_02 .path14:before{color:rgb(211, 211, 211);content:"\eb14";margin-left:-1em;}
.icon-features_02 .path15:before{color:rgb(211, 211, 211);content:"\eb15";margin-left:-1em;}
.icon-features_02 .path16:before{color:rgb(211, 211, 211);content:"\eb16";margin-left:-1em;}
.icon-features_02 .path17:before{color:rgb(211, 211, 211);content:"\eb17";margin-left:-1em;}
.icon-features_02 .path18:before{color:rgb(211, 211, 211);content:"\eb18";margin-left:-1em;}
.icon-features_02 .path19:before{color:rgb(211, 211, 211);content:"\eb19";margin-left:-1em;}
.icon-features_02 .path20:before{color:rgb(211, 211, 211);content:"\eb1a";margin-left:-1em;}
.icon-features_02 .path21:before{color:rgb(211, 211, 211);content:"\eb1b";margin-left:-1em;}
.icon-features_03 .path1:before{color:rgb(25, 156, 164);content:"\eaf6";}
.icon-features_03 .path2:before{color:rgb(127, 181, 40);content:"\eb1c";margin-left:-1.03515625em;}
.icon-features_03 .path3:before{color:rgb(127, 181, 40);content:"\eb1d";margin-left:-1.03515625em;}
.icon-features_03 .path4:before{color:rgb(127, 181, 40);content:"\eb1e";margin-left:-1.03515625em;}
.icon-features_03 .path5:before{color:rgb(25, 156, 164);content:"\eb1f";margin-left:-1.03515625em;}
.icon-features_03 .path6:before{color:rgb(25, 156, 164);content:"\eb20";margin-left:-1.03515625em;}
.icon-features_03 .path7:before{color:rgb(25, 156, 164);content:"\eb21";margin-left:-1.03515625em;}
.icon-features_03 .path8:before{color:rgb(211, 211, 211);content:"\eb22";margin-left:-1.03515625em;}
.icon-features_03 .path9:before{color:rgb(211, 211, 211);content:"\eb23";margin-left:-1.03515625em;}
.icon-features_03 .path10:before{color:rgb(211, 211, 211);content:"\eb24";margin-left:-1.03515625em;}
.icon-features_03 .path11:before{color:rgb(211, 211, 211);content:"\eb25";margin-left:-1.03515625em;}
.icon-features_03 .path12:before{color:rgb(211, 211, 211);content:"\eb26";margin-left:-1.03515625em;}
.icon-features_03 .path13:before{color:rgb(211, 211, 211);content:"\eb27";margin-left:-1.03515625em;}
.icon-features_04 .path1:before{color:rgb(25, 156, 164);content:"\eaf7";}
.icon-features_04 .path2:before{color:rgb(25, 156, 164);content:"\eb28";margin-left:-1em;}
.icon-features_04 .path3:before{color:rgb(127, 181, 40);content:"\eb29";margin-left:-1em;}
.icon-gnb_01:before{content:"\e940";}
.icon-gnb_02:before{content:"\e941";}
.icon-gnb_03:before{content:"\e942";}
.icon-gnb_04:before{content:"\e943";}
.icon-gnb_05:before{content:"\e944";}
.icon-gnb_06:before{content:"\e945";}
.icon-gnb_07:before{content:"\e946";}
.icon-gnb_logout:before{content:"\e947";}
.icon-gnb_setting:before{content:"\e948";}
.icon-gradestar:before{content:"\e949";}
.icon-info-button:before{content:"\e94a";}
.icon-instagram:before{content:"\e94b";}
.icon-logo:before{content:"\e94c";}
.icon-magnifying-glass:before{content:"\e94d";}
.icon-manual:before{content:"\e94e";}
.icon-notification:before{content:"\e94f";}
.icon-object .path1:before{color:rgb(4, 0, 0);content:"\e950";opacity:0.1;}
.icon-object .path2:before{color:rgb(1, 80, 87);content:"\e951";margin-left:-1em;}
.icon-object .path3:before{color:rgb(0, 0, 0);content:"\e952";margin-left:-1em;}
.icon-object .path4:before{color:rgb(0, 0, 0);content:"\e953";margin-left:-1em;}
.icon-object .path5:before{color:rgb(33, 179, 187);content:"\e954";margin-left:-1em;}
.icon-object .path6:before{color:rgb(255, 255, 255);content:"\e955";margin-left:-1em;}
.icon-object .path7:before{color:rgb(255, 255, 255);content:"\e956";margin-left:-1em;}
.icon-object .path8:before{color:rgb(248, 207, 195);content:"\e957";margin-left:-1em;}
.icon-object .path9:before{color:rgb(6, 35, 35);content:"\e958";margin-left:-1em;}
.icon-object .path10:before{color:rgb(6, 35, 35);content:"\e959";margin-left:-1em;}
.icon-object .path11:before{color:rgb(248, 207, 195);content:"\e95a";margin-left:-1em;}
.icon-object .path12:before{color:rgb(221, 174, 164);content:"\e95b";margin-left:-1em;}
.icon-object .path13:before{color:rgb(18, 122, 127);content:"\e95c";margin-left:-1em;}
.icon-object .path14:before{color:rgb(0, 58, 60);content:"\e95d";margin-left:-1em;}
.icon-object .path15:before{color:rgb(6, 35, 35);content:"\e95e";margin-left:-1em;}
.icon-object .path16:before{color:rgb(26, 39, 76);content:"\e95f";margin-left:-1em;}
.icon-object .path17:before{color:rgb(4, 0, 0);content:"\e960";margin-left:-1em;opacity:0.1;}
.icon-object .path18:before{color:rgb(1, 80, 87);content:"\e961";margin-left:-1em;}
.icon-object .path19:before{color:rgb(4, 0, 0);content:"\e962";margin-left:-1em;opacity:0.1;}
.icon-object .path20:before{color:rgb(18, 122, 127);content:"\e963";margin-left:-1em;}
.icon-object .path21:before{color:rgb(248, 207, 195);content:"\e964";margin-left:-1em;}
.icon-object .path22:before{color:rgb(221, 174, 164);content:"\e965";margin-left:-1em;}
.icon-object .path23:before{color:rgb(168, 130, 129);content:"\e966";margin-left:-1em;}
.icon-object .path24:before{color:rgb(145, 108, 108);content:"\e967";margin-left:-1em;}
.icon-object .path25:before{color:rgb(240, 244, 251);content:"\e968";margin-left:-1em;}
.icon-object .path26:before{color:rgb(196, 203, 213);content:"\e969";margin-left:-1em;}
.icon-object .path27:before{color:rgb(4, 0, 0);content:"\e96a";margin-left:-1em;opacity:0.1;}
.icon-object .path28:before{color:rgb(4, 0, 0);content:"\e96b";margin-left:-1em;opacity:0.1;}
.icon-object .path29:before{color:rgb(4, 0, 0);content:"\e96c";margin-left:-1em;opacity:0.1;}
.icon-object .path30:before{color:rgb(248, 207, 195);content:"\e96d";margin-left:-1em;}
.icon-object .path31:before{color:rgb(221, 174, 164);content:"\e96e";margin-left:-1em;}
.icon-object .path32:before{color:rgb(248, 207, 195);content:"\e96f";margin-left:-1em;}
.icon-object .path33:before{color:rgb(6, 35, 35);content:"\e970";margin-left:-1em;}
.icon-object .path34:before{color:rgb(6, 35, 35);content:"\e971";margin-left:-1em;}
.icon-object .path35:before{color:rgb(6, 35, 35);content:"\e972";margin-left:-1em;}
.icon-object .path36:before{color:rgb(0, 58, 60);content:"\e973";margin-left:-1em;}
.icon-object .path37:before{color:rgb(6, 35, 35);content:"\e974";margin-left:-1em;}
.icon-object .path38:before{color:rgb(6, 35, 35);content:"\e975";margin-left:-1em;}
.icon-object .path39:before{color:rgb(1, 80, 87);content:"\e976";margin-left:-1em;}
.icon-object .path40:before{color:rgb(240, 244, 251);content:"\e977";margin-left:-1em;}
.icon-object .path41:before{color:rgb(196, 203, 213);content:"\e978";margin-left:-1em;}
.icon-object .path42:before{color:rgb(26, 39, 76);content:"\e979";margin-left:-1em;}
.icon-object .path43:before{color:rgb(26, 39, 76);content:"\e97a";margin-left:-1em;}
.icon-object .path44:before{color:rgb(6, 35, 35);content:"\e97b";margin-left:-1em;}
.icon-object .path45:before{color:rgb(6, 35, 35);content:"\e97c";margin-left:-1em;}
.icon-object .path46:before{color:rgb(18, 122, 127);content:"\e97d";margin-left:-1em;}
.icon-object .path47:before{color:rgb(6, 35, 35);content:"\e97e";margin-left:-1em;}
.icon-object .path48:before{color:rgb(248, 207, 195);content:"\e97f";margin-left:-1em;}
.icon-object .path49:before{color:rgb(168, 130, 129);content:"\e980";margin-left:-1em;}
.icon-object .path50:before{color:rgb(221, 174, 164);content:"\e981";margin-left:-1em;}
.icon-object .path51:before{color:rgb(196, 203, 213);content:"\e982";margin-left:-1em;}
.icon-object .path52:before{color:rgb(6, 35, 35);content:"\e983";margin-left:-1em;}
.icon-object .path53:before{color:rgb(6, 35, 35);content:"\e984";margin-left:-1em;}
.icon-object .path54:before{color:rgb(145, 108, 108);content:"\e985";margin-left:-1em;}
.icon-person:before{content:"\e986";}
.icon-process_01:before{content:"\e987";}
.icon-process_02:before{content:"\e988";}
.icon-process_03:before{content:"\e989";}
.icon-process_04:before{content:"\e98a";}
.icon-process_05:before{content:"\e98b";}
.icon-reload:before{content:"\e98c";}
.icon-reply:before{content:"\e98d";}
.icon-right-arrow-circular-button:before{content:"\e98e";}
.icon-security-on:before{content:"\e98f";}
.icon-south-korea .path1:before{color:rgb(240, 240, 240);content:"\e990";}
.icon-south-korea .path2:before{color:rgb(216, 0, 39);content:"\e991";margin-left:-1em;}
.icon-south-korea .path3:before{color:rgb(0, 82, 180);content:"\e992";margin-left:-1em;}
.icon-south-korea .path4:before{color:rgb(0, 0, 0);content:"\e993";margin-left:-1em;}
.icon-south-korea .path5:before{color:rgb(0, 0, 0);content:"\e994";margin-left:-1em;}
.icon-south-korea .path6:before{color:rgb(0, 0, 0);content:"\e995";margin-left:-1em;}
.icon-south-korea .path7:before{color:rgb(0, 0, 0);content:"\e996";margin-left:-1em;}
.icon-south-korea .path8:before{color:rgb(0, 0, 0);content:"\e997";margin-left:-1em;}
.icon-south-korea .path9:before{color:rgb(0, 0, 0);content:"\e998";margin-left:-1em;}
.icon-south-korea .path10:before{color:rgb(0, 0, 0);content:"\e999";margin-left:-1em;}
.icon-south-korea .path11:before{color:rgb(0, 0, 0);content:"\e99a";margin-left:-1em;}
.icon-south-korea .path12:before{color:rgb(0, 0, 0);content:"\e99b";margin-left:-1em;}
.icon-south-korea .path13:before{color:rgb(0, 0, 0);content:"\e99c";margin-left:-1em;}
.icon-south-korea .path14:before{color:rgb(0, 0, 0);content:"\e99d";margin-left:-1em;}
.icon-south-korea .path15:before{color:rgb(0, 0, 0);content:"\e99e";margin-left:-1em;}
.icon-south-korea .path16:before{color:rgb(0, 0, 0);content:"\e99f";margin-left:-1em;}
.icon-south-korea .path17:before{color:rgb(0, 0, 0);content:"\e9a0";margin-left:-1em;}
.icon-south-korea .path18:before{color:rgb(0, 0, 0);content:"\e9a1";margin-left:-1em;}
.icon-south-korea .path19:before{color:rgb(0, 0, 0);content:"\e9a2";margin-left:-1em;}
.icon-south-korea .path20:before{color:rgb(0, 0, 0);content:"\e9a3";margin-left:-1em;}
.icon-south-korea .path21:before{color:rgb(0, 0, 0);content:"\e9a4";margin-left:-1em;}
.icon-tel:before{content:"\e9a5";}
.icon-Thumbsup:before{content:"\e9a6";}
.icon-top-arrow:before{content:"\e9a7";}
.icon-united-states .path1:before{color:rgb(240, 240, 240);content:"\e9a8";}
.icon-united-states .path2:before{color:rgb(216, 0, 39);content:"\e9a9";margin-left:-1em;}
.icon-united-states .path3:before{color:rgb(216, 0, 39);content:"\e9aa";margin-left:-1em;}
.icon-united-states .path4:before{color:rgb(216, 0, 39);content:"\e9ab";margin-left:-1em;}
.icon-united-states .path5:before{color:rgb(216, 0, 39);content:"\e9ac";margin-left:-1em;}
.icon-united-states .path6:before{color:rgb(0, 82, 180);content:"\e9ad";margin-left:-1em;}
.icon-write:before{content:"\e9ae";}
.icon-youtube-symbol:before{content:"\e9af";}
.icon-down-arrow:before{content:"\e937";}
.icon-add-outline:before{content:"\e9cb";}
.icon-add-solid:before{content:"\e9cc";}
.icon-adjust:before{content:"\e9cd";}
.icon-airplane:before{content:"\e9ce";}
.icon-album:before{content:"\e9cf";}
.icon-align-center:before{content:"\e9d0";}
.icon-align-justified:before{content:"\e9d1";}
.icon-align-left:before{content:"\e9d2";}
.icon-align-right:before{content:"\e9d3";}
.icon-anchor:before{content:"\e9d4";}
.icon-announcement:before{content:"\e9d5";}
.icon-apparel:before{content:"\e9d6";}
.icon-arrow-down:before{content:"\e9d7";}
.icon-arrow-left:before{content:"\e9d8";}
.icon-arrow-outline-down:before{content:"\e9d9";}
.icon-arrow-outline-left:before{content:"\e9da";}
.icon-arrow-outline-right:before{content:"\e9db";}
.icon-arrow-outline-up:before{content:"\e9dc";}
.icon-arrow-right:before{content:"\e9dd";}
.icon-arrow-thick-down:before{content:"\e9de";}
.icon-arrow-thick-left:before{content:"\e9df";}
.icon-arrow-thick-right:before{content:"\e9e0";}
.icon-arrow-thick-up:before{content:"\e9e1";}
.icon-arrow-thin-down:before{content:"\e9e2";}
.icon-arrow-thin-left:before{content:"\e9e3";}
.icon-arrow-thin-right:before{content:"\e9e4";}
.icon-arrow-thin-up:before{content:"\e9e5";}
.icon-arrow-up:before{content:"\e9e6";}
.icon-artist:before{content:"\e9e7";}
.icon-at-symbol:before{content:"\e9e8";}
.icon-attachment:before{content:"\e9e9";}
.icon-backspace:before{content:"\e9ea";}
.icon-backward:before{content:"\e9eb";}
.icon-backward-step:before{content:"\e9ec";}
.icon-badge:before{content:"\e9ed";}
.icon-battery-full:before{content:"\e9ee";}
.icon-battery-half:before{content:"\e9ef";}
.icon-battery-low:before{content:"\e9f0";}
.icon-beverage:before{content:"\e9f1";}
.icon-block:before{content:"\e9f2";}
.icon-bluetooth:before{content:"\e9f3";}
.icon-bolt:before{content:"\e9f4";}
.icon-book-reference:before{content:"\e9f5";}
.icon-bookmark:before{content:"\e9f6";}
.icon-bookmarkcopy2:before{content:"\e9f7";}
.icon-bookmarkcopy3:before{content:"\e9f8";}
.icon-bookmark-outline:before{content:"\e9f9";}
.icon-bookmark-outline-add:before{content:"\e9fa";}
.icon-border-all:before{content:"\e9fb";}
.icon-border-bottom:before{content:"\e9fc";}
.icon-border-horizontal:before{content:"\e9fd";}
.icon-border-inner:before{content:"\e9fe";}
.icon-border-left:before{content:"\e9ff";}
.icon-border-none:before{content:"\ea00";}
.icon-border-outer:before{content:"\ea01";}
.icon-border-right:before{content:"\ea02";}
.icon-border-top:before{content:"\ea03";}
.icon-border-vertical:before{content:"\ea04";}
.icon-box:before{content:"\ea05";}
.icon-brightness-down:before{content:"\ea06";}
.icon-brightness-up:before{content:"\ea07";}
.icon-browser-window:before{content:"\ea08";}
.icon-browser-window-new:before{content:"\ea09";}
.icon-browser-window-open:before{content:"\ea0a";}
.icon-bug1:before{content:"\ea0b";}
.icon-buoy:before{content:"\ea0c";}
.icon-calculator:before{content:"\ea0d";}
.icon-calendar2:before{content:"\ea0e";}
.icon-camera1:before{content:"\ea0f";}
.icon-chart:before{content:"\ea10";}
.icon-chart-bar:before{content:"\ea11";}
.icon-chart-pie:before{content:"\ea12";}
.icon-chat-bubble-dots:before{content:"\ea13";}
.icon-checkmark:before{content:"\ea14";}
.icon-checkmark-outline:before{content:"\ea15";}
.icon-cheveron-down:before{content:"\ea16";}
.icon-cheveron-left:before{content:"\ea17";}
.icon-cheveron-outline-down:before{content:"\ea18";}
.icon-cheveron-outline-left:before{content:"\ea19";}
.icon-cheveron-outline-right:before{content:"\ea1a";}
.icon-cheveron-outline-up:before{content:"\ea1b";}
.icon-cheveron-right:before{content:"\ea1c";}
.icon-cheveron-up:before{content:"\ea1d";}
.icon-clipboard:before{content:"\ea1e";}
.icon-close:before{content:"\ea1f";}
.icon-close-outline:before{content:"\ea20";}
.icon-close-solid:before{content:"\ea21";}
.icon-cloud2:before{content:"\ea22";}
.icon-cloud-upload:before{content:"\ea23";}
.icon-code:before{content:"\ea24";}
.icon-coffee:before{content:"\ea25";}
.icon-cog:before{content:"\ea26";}
.icon-color-palette:before{content:"\ea27";}
.icon-compose:before{content:"\ea28";}
.icon-computer-desktop:before{content:"\ea29";}
.icon-computer-laptop:before{content:"\ea2a";}
.icon-conversation:before{content:"\ea2b";}
.icon-copy:before{content:"\ea2c";}
.icon-credit-card:before{content:"\ea2d";}
.icon-currency-dollar:before{content:"\ea2e";}
.icon-dashboard:before{content:"\ea2f";}
.icon-date-add:before{content:"\ea30";}
.icon-dial-pad:before{content:"\ea31";}
.icon-directions:before{content:"\ea32";}
.icon-document:before{content:"\ea33";}
.icon-document-add:before{content:"\ea34";}
.icon-dots-horizontal-double:before{content:"\ea35";}
.icon-dots-horizontal-triple:before{content:"\ea36";}
.icon-download2:before{content:"\ea37";}
.icon-duplicate:before{content:"\ea38";}
.icon-edit-copy:before{content:"\ea39";}
.icon-edit-crop:before{content:"\ea3a";}
.icon-edit-cut:before{content:"\ea3b";}
.icon-edit-pencil:before{content:"\ea3c";}
.icon-education:before{content:"\ea3d";}
.icon-envelope:before{content:"\ea3e";}
.icon-exclamation-outline:before{content:"\ea3f";}
.icon-exclamation-solid:before{content:"\ea40";}
.icon-explore:before{content:"\ea41";}
.icon-factory:before{content:"\ea42";}
.icon-fast-forward:before{content:"\ea43";}
.icon-fast-rewind:before{content:"\ea44";}
.icon-film:before{content:"\ea45";}
.icon-filter:before{content:"\ea46";}
.icon-flag:before{content:"\ea47";}
.icon-flashlight:before{content:"\ea48";}
.icon-folder:before{content:"\ea49";}
.icon-folder-outline:before{content:"\ea4a";}
.icon-folder-outline-add:before{content:"\ea4b";}
.icon-format-bold:before{content:"\ea4c";}
.icon-format-font-size:before{content:"\ea4d";}
.icon-format-italic:before{content:"\ea4e";}
.icon-format-text-size:before{content:"\ea4f";}
.icon-format-underline:before{content:"\ea50";}
.icon-forward:before{content:"\ea51";}
.icon-forward-step:before{content:"\ea52";}
.icon-gift:before{content:"\ea53";}
.icon-globe:before{content:"\ea54";}
.icon-hand-stop:before{content:"\ea55";}
.icon-hard-drive:before{content:"\ea56";}
.icon-headphones:before{content:"\ea57";}
.icon-heart1:before{content:"\ea58";}
.icon-home:before{content:"\ea59";}
.icon-hot:before{content:"\ea5a";}
.icon-hour-glass:before{content:"\ea5b";}
.icon-inbox:before{content:"\ea5c";}
.icon-inbox-check:before{content:"\ea5d";}
.icon-inbox-download:before{content:"\ea5e";}
.icon-inbox-full:before{content:"\ea5f";}
.icon-indent-decrease:before{content:"\ea60";}
.icon-indent-increase:before{content:"\ea61";}
.icon-information-outline:before{content:"\ea62";}
.icon-information-solid:before{content:"\ea63";}
.icon-key1:before{content:"\ea64";}
.icon-keyboard:before{content:"\ea65";}
.icon-layers:before{content:"\ea66";}
.icon-library:before{content:"\ea67";}
.icon-light-bulb:before{content:"\ea68";}
.icon-link:before{content:"\ea69";}
.icon-list:before{content:"\ea6a";}
.icon-list-add:before{content:"\ea6b";}
.icon-list-bullet:before{content:"\ea6c";}
.icon-load-balancer:before{content:"\ea6d";}
.icon-location1:before{content:"\ea6e";}
.icon-location-current:before{content:"\ea6f";}
.icon-location-food:before{content:"\ea70";}
.icon-location-gas-station:before{content:"\ea71";}
.icon-location-hotel:before{content:"\ea72";}
.icon-location-marina:before{content:"\ea73";}
.icon-location-park:before{content:"\ea74";}
.icon-location-restroom:before{content:"\ea75";}
.icon-location-shopping:before{content:"\ea76";}
.icon-lock-closed:before{content:"\ea77";}
.icon-lock-open:before{content:"\ea78";}
.icon-map:before{content:"\ea79";}
.icon-menu1:before{content:"\ea7a";}
.icon-mic:before{content:"\ea7b";}
.icon-minus-outline:before{content:"\ea7c";}
.icon-minus-solid:before{content:"\ea7d";}
.icon-mobile-devices:before{content:"\ea7e";}
.icon-mood-happy-outline:before{content:"\ea7f";}
.icon-mood-happy-solid:before{content:"\ea80";}
.icon-mood-neutral-outline:before{content:"\ea81";}
.icon-mood-neutral-solid:before{content:"\ea82";}
.icon-mood-sad-outline:before{content:"\ea83";}
.icon-mood-sad-solid:before{content:"\ea84";}
.icon-mouse:before{content:"\ea85";}
.icon-music-album:before{content:"\ea86";}
.icon-music-artist:before{content:"\ea87";}
.icon-music-notes:before{content:"\ea88";}
.icon-music-playlist:before{content:"\ea89";}
.icon-navigation-more:before{content:"\ea8a";}
.icon-network:before{content:"\ea8b";}
.icon-news-paper:before{content:"\ea8c";}
.icon-notification1:before{content:"\ea8d";}
.icon-notifications:before{content:"\ea8e";}
.icon-notifications-outline:before{content:"\ea8f";}
.icon-paste:before{content:"\ea90";}
.icon-pause:before{content:"\ea91";}
.icon-pause-outline:before{content:"\ea92";}
.icon-pause-solid:before{content:"\ea93";}
.icon-pen-tool:before{content:"\ea94";}
.icon-phone1:before{content:"\ea95";}
.icon-photo1:before{content:"\ea96";}
.icon-php-elephant:before{content:"\ea97";}
.icon-pin:before{content:"\ea98";}
.icon-play:before{content:"\ea99";}
.icon-play-outline:before{content:"\ea9a";}
.icon-playlist:before{content:"\ea9b";}
.icon-plugin:before{content:"\ea9c";}
.icon-portfolio:before{content:"\ea9d";}
.icon-printer:before{content:"\ea9e";}
.icon-pylon:before{content:"\ea9f";}
.icon-question:before{content:"\eaa0";}
.icon-queue:before{content:"\eaa1";}
.icon-radar:before{content:"\eaa2";}
.icon-radarcopy2:before{content:"\eaa3";}
.icon-radio:before{content:"\eaa4";}
.icon-refresh:before{content:"\eaa5";}
.icon-reload1:before{content:"\eaa6";}
.icon-reply2:before{content:"\eaa7";}
.icon-reply-all:before{content:"\eaa8";}
.icon-repost:before{content:"\eaa9";}
.icon-save-disk:before{content:"\eaaa";}
.icon-screen-full:before{content:"\eaab";}
.icon-search2:before{content:"\eaac";}
.icon-send1:before{content:"\eaad";}
.icon-servers:before{content:"\eaae";}
.icon-share:before{content:"\eaaf";}
.icon-share-01:before{content:"\eab0";}
.icon-share-alt:before{content:"\eab1";}
.icon-shield:before{content:"\eab2";}
.icon-shopping-cart:before{content:"\eab3";}
.icon-show-sidebar:before{content:"\eab4";}
.icon-shuffle:before{content:"\eab5";}
.icon-stand-by:before{content:"\eab6";}
.icon-star-full:before{content:"\eab7";}
.icon-station:before{content:"\eab8";}
.icon-step-backward:before{content:"\eab9";}
.icon-step-forward:before{content:"\eaba";}
.icon-stethoscope:before{content:"\eabb";}
.icon-store-front:before{content:"\eabc";}
.icon-stroke-width:before{content:"\eabd";}
.icon-subdirectory-left:before{content:"\eabe";}
.icon-subdirectory-right:before{content:"\eabf";}
.icon-swap:before{content:"\eac0";}
.icon-tablet:before{content:"\eac1";}
.icon-tag1:before{content:"\eac2";}
.icon-target:before{content:"\eac3";}
.icon-text-box:before{content:"\eac4";}
.icon-text-decoration:before{content:"\eac5";}
.icon-thermometer:before{content:"\eac6";}
.icon-thumbs-down:before{content:"\eac7";}
.icon-thumbs-up:before{content:"\eac8";}
.icon-ticket:before{content:"\eac9";}
.icon-time:before{content:"\eaca";}
.icon-timer:before{content:"\eacb";}
.icon-toolscopy:before{content:"\eacc";}
.icon-translate:before{content:"\eacd";}
.icon-trash1:before{content:"\eace";}
.icon-travel:before{content:"\eacf";}
.icon-travel-bus:before{content:"\ead0";}
.icon-travel-car:before{content:"\ead1";}
.icon-travel-case:before{content:"\ead2";}
.icon-travel-taxi-cab:before{content:"\ead3";}
.icon-travel-train:before{content:"\ead4";}
.icon-travel-walk:before{content:"\ead5";}
.icon-trophy:before{content:"\ead6";}
.icon-tuning:before{content:"\ead7";}
.icon-upload1:before{content:"\ead8";}
.icon-usb:before{content:"\ead9";}
.icon-user2:before{content:"\eada";}
.icon-user-add:before{content:"\eadb";}
.icon-user-group:before{content:"\eadc";}
.icon-user-solid-circle:before{content:"\eadd";}
.icon-user-solid-square:before{content:"\eade";}
.icon-vector:before{content:"\eadf";}
.icon-video-camera:before{content:"\eae0";}
.icon-view-carousel:before{content:"\eae1";}
.icon-view-column:before{content:"\eae2";}
.icon-view-hide:before{content:"\eae3";}
.icon-view-list:before{content:"\eae4";}
.icon-view-show:before{content:"\eae5";}
.icon-view-tile:before{content:"\eae6";}
.icon-volume-down:before{content:"\eae7";}
.icon-volume-mute:before{content:"\eae8";}
.icon-volume-off:before{content:"\eae9";}
.icon-volume-up:before{content:"\eaea";}
.icon-wallet1:before{content:"\eaeb";}
.icon-watch:before{content:"\eaec";}
.icon-window:before{content:"\eaed";}
.icon-window-new:before{content:"\eaee";}
.icon-window-open:before{content:"\eaef";}
.icon-wrench:before{content:"\eaf0";}
.icon-yin-yang:before{content:"\eaf1";}
.icon-zoom-in:before{content:"\eaf2";}
.icon-zoom-out:before{content:"\eaf3";}
.icon-heart:before{content:"\e92a";}
.icon-cloud1:before{content:"\e92b";}
.icon-star:before{content:"\e92c";}
.icon-tv:before{content:"\e92d";}
.icon-sound:before{content:"\e92e";}
.icon-video:before{content:"\e92f";}
.icon-trash:before{content:"\e930";}
.icon-user1:before{content:"\e931";}
.icon-key:before{content:"\e932";}
.icon-search1:before{content:"\e933";}
.icon-settings:before{content:"\e934";}
.icon-camera:before{content:"\e935";}
.icon-tag:before{content:"\e936";}
.icon-lock:before{content:"\e938";}
.icon-bulb:before{content:"\e939";}
.icon-pen:before{content:"\e93a";}
.icon-diamond:before{content:"\e93b";}
.icon-display:before{content:"\e93c";}
.icon-location:before{content:"\e93d";}
.icon-eye:before{content:"\e93e";}
.icon-bubble:before{content:"\e93f";}
.icon-stack:before{content:"\e9b0";}
.icon-cup:before{content:"\e9b1";}
.icon-phone:before{content:"\e9b2";}
.icon-news:before{content:"\e9b3";}
.icon-mail:before{content:"\e9b4";}
.icon-like:before{content:"\e9b5";}
.icon-photo:before{content:"\e9b6";}
.icon-note:before{content:"\e9b7";}
.icon-clock:before{content:"\e9b8";}
.icon-paperplane:before{content:"\e9b9";}
.icon-params:before{content:"\e9ba";}
.icon-banknote:before{content:"\e9bb";}
.icon-data:before{content:"\e9bc";}
.icon-music:before{content:"\e9bd";}
.icon-megaphone:before{content:"\e9be";}
.icon-study:before{content:"\e9bf";}
.icon-lab:before{content:"\e9c0";}
.icon-food:before{content:"\e9c1";}
.icon-t-shirt:before{content:"\e9c2";}
.icon-fire:before{content:"\e9c3";}
.icon-clip:before{content:"\e9c4";}
.icon-shop:before{content:"\e9c5";}
.icon-calendar1:before{content:"\e9c6";}
.icon-wallet:before{content:"\e9c7";}
.icon-vynil:before{content:"\e9c8";}
.icon-truck:before{content:"\e9c9";}
.icon-world:before{content:"\e9ca";}
